.container {
  padding-bottom: 0px;
}

.navbar {
  width: 100%;
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 9999;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.logo {
  display: flex;
  align-items: center;
}

.earlyLinkLogo {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.earlyLinkLogo img {
  width: 170px;
  height: 45px;
}

.navIconsWrapper{
  displaY: flex;
  align-items: center;
  margin-left: 10px;
}

.navIconsWrapper a img {
  width: 30px;
  margin-top: 10px;
  margin-left: -5px;
  stroke:rgb(255, 255, 255);
}


.rightSide {
  display: flex;
  align-items: center;
}

.rightSide a {
  color: rgb(255, 255, 255);
  font-size: 1.15rem;
  margin-right: 25px;
}

.shareLink {
  background: var(--main);
  border: none;
  border-radius: 20px;
  padding: 9px 20px;
  padding-right: 5px;
}


.filters, .blockchains{
  display: flex;
  align-items: center;
}

.topPart {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  margin-left: -25px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(80, 80, 80);
}

.changeTable {
  margin-bottom: 0px;
  padding-bottom: 20px;
  margin-right: 20px;
  position: relative;
  top: 1px;
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.changeTable button{
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 1.1rem;
  cursor: pointer;
}

.chains{
  margin-bottom: 0px;
  padding-bottom: 20px;
  margin-right: 20px;
  position: relative;
  top: 1px;
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.chains button{
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 1.1rem;
  cursor: pointer;
}

.chains button .solana{
  width: 20px;
  margin-right: 10px;
  position: relative;
}

.chains button {
  display: flex;
  align-items: center;
}

.chains button .eth{
  width: 15px;
  margin-left: 4px;
  margin-right: 10px;
  position: relative;
}

.chains button .sui{
  width: 20px;
  margin-right: 8px;
  position: relative;
}

.chains button .aptos{
  width: 22px;
  margin-left: 4px;
  margin-right: 10px;
  position: relative;
}

.chains button svg{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}


.table {
  margin: 0 auto;
  width: 95%;
  position: relative;
  left: 10px;
  top: -50px;
}

.line{
  width: 100%;
  height: 1px;
  background-color: rgb(80, 80, 80);
}

.tableHeader {
  display: grid;
  grid-template-columns: 150px 380px 150px 140px 140px 120px 120px 100px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-left: -25px;
  border-bottom: 1px solid rgb(80, 80, 80);
}

.tableHeader div{
  font-size: 1.05rem;
  color: rgb(153, 153, 153);
}

.row{
  display: grid;
  grid-template-columns: 150px 380px 150px 140px 140px 120px 120px 100px;
  align-items: center;
  background: none;
  margin-top: 20px;
  margin-left: -25px;
  transition: all 250ms linear;
  cursor: pointer;
  background-color: var(--lighter-bg);
}

.row:hover{
  background-color: #0d0041;
  transform: scale(101%);
}

.row div{
  font-size: 1.1rem;
}

.twitterNumbers, .discordNumbers, .daoVotes, .name {
  display: flex;
  align-items: center;
}

.projectBlockchain img{
  width: 32px;
  height: 32px;
  position: relative;
  top: 2px;
}

.daoVotes svg{
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.website svg:hover, .twitterNumbers a svg:hover, .discordNumbers a img:hover{
  transform: scale(117%);
}

.website a svg, .twitterNumbers a svg{
  width: 35px;
  transition: all 300ms linear;
  height: 35px;
}

.twitterNumbers a svg{
  fill: white;
  width: 30px;
  height: 30px;
  margin-left: 9px;
}


.discordNumbers a img{
  width: 40px;
  height: 40px;
  transition: all 300ms linear;
  margin-left: 7px;
  margin-top: 5px;
  
}

.name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.row div:nth-child(1){
  margin-left: 17px;
}

.row div:nth-child(2){
  margin-left: 5px;
}

.row div:nth-child(3){
  margin-left:3px;
}

.row div:nth-child(4){
  margin-left: 35px;
}

.launched {
  color: #00DC3E;
}

.upcoming{
  color: #CADC00;
}

.row div:nth-child(5){
  margin-left: 33px;
}

.row div:nth-child(6){
  margin-left: 12px;
}

.row div:nth-child(7){
  margin-left: 12px;
}

.row div:nth-child(8){
  margin-left: 26px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  cursor: pointer;
  display: none;
}

.hamburgerLine {
  width: 30px;
  height: 2px;
  background-color: white;
  margin-top: 5px;
}

.closeMenu{
  width: 33px;
  height: 33px;
  fill: white;
  margin-top: -70px;
  margin-left: 190px;
  position:absolute;
  cursor: pointer;
  display: none;
}

.popUp {
  width: 500px;
  padding: 15px 20px;
  background-color: var(--lighter-bg);
  z-index: 994;
  border-radius: 15px;
  padding-top: 5px;
  position: absolute;
  margin-top: 200px;
  display: none;
  left: 50%;
  transform: translate(-50%, -50px);
}

.popUpIcons{
  display: flex;
  align-items: center;
}

.projectName{
  display: flex;
  align-items: center;
  margin-left: -10px;
}

.projectImage {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.projectName a img{
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.projectName a svg {
  width: 37px;
  height: 37px;
  margin-top: 10px;
  margin-right: 10px;
}

.projectName p {
  margin-left: 10px;
  font-size: 1.5rem;
}

.projectDescription {
  color: var(--lightest);
  max-height: 180px;
  overflow: auto;
}

.projectDescription::-webkit-scrollbar {
  width: 5px;
}

.projectVotes {
  font-size: 1.1rem;
}

.projectVotes span{
  color: var(--lightest)
}

.closePopUp {
  width: 30px;
  height: 30px;
  fill: white;
  position: absolute;
  right: 0;
  margin-right: 10px;
  cursor: pointer;
  top: 0;
  margin-top: 7px;
}

.backgroundAddon {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  z-index: 992;
  opacity: 0.7;
  display: none;
}

.banner {
  width: 100%;
  background: var(--lighter-bg);
  border-top: 1px solid #28137c;
  position: relative;
  top: 100px;
}

.bannerWrapper {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 50px 0px;
  padding-left: 80px;
  margin: 0 auto;
}

.bannerWrapper div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-right: 90px;
}


.bannerWrapper div p:nth-child(1){
  color: var(--lightest);
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0px;
}

.bannerWrapper div p:nth-child(2){
  color: white;
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 5px;
}

/*  RESPONSIVE */

@media only screen and (min-width: 1500px){
  .banner {
    position: absolute;
    bottom: -110px;
    top: unset;
  }
}

@media only screen and (max-width: 1130px){
  .rightSide {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    align-items: center;
    background: #03000e;
    left: -350px;
    padding: 30px 20px;
    width: 240px;
    padding-top: 75px;
    border-right: 1px solid var(--lightest);
    border-bottom: 1px solid var(--lightest);
    border-bottom-right-radius: 30px;
    transition: all 350ms linear;
  }

  .navbar {
    padding: 15px 25px;
  }

  .closeMenu{
    display: block;
  }

  .rightSide a {
    margin-right: 25px;
    margin-top: 15px;
  }

  .explore {
   margin-top: 30px;
  }


  .listNFT {
    margin-left: 0px;
    margin-top: 15px;
  }
  
  
  .hamburger {
    display: flex;
  }

  .shareLink {
    margin-top: 15px;
}
}

@media only screen and (max-width: 1350px){

  .tableHeader {
    grid-template-columns: 100px 300px 150px 140px 140px 120px 120px 100px;
  }

  .row{
    grid-template-columns: 100px 300px 150px 140px 140px 120px 120px 100px;
  }
}

@media only screen and (max-width: 1200px){

  .tableHeader {
    grid-template-columns: 50px 270px 110px 110px 100px 80px 80px 100px;
  }

  .row{
    grid-template-columns: 50px 270px 110px 110px 100px 80px 80px 100px;
  }
}

@media only screen and (max-width: 1025px){

  .table{
    width: 100%;
    left: 0px;
  }

  .tableHeader {
    grid-template-columns: 63px 270px 110px 110px 100px 80px 80px 100px;
    margin-left: 0px;
  }

  .tableHeader div:nth-child(1){
    margin-left: 17px;
  }

  .row{
    margin-left: 0px;
    width: 98%;
    margin-left: 10px;
    grid-template-columns: 50px 270px 110px 110px 100px 80px 80px 100px;
  }

  .website a svg{
    width: 30px;
    height: 30px;
  }

  .projectBlockchain img{
    width: 27px;
    height: 27px;
    position: relative;
    top: 2px;
  }

  .discordNumbers a img{
    width: 37px;
    height: 37px;
    margin-left: 10px;
  }

  .twitterNumbers a svg{
    width: 25px;
    height: 25px;
    margin-left: 13px;
  }

  .topPart {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0px;
    margin-bottom: 15px;
    border-bottom: 0px solid rgb(80, 80, 80);
  }

  .blockchains{
    border-bottom: 1px solid rgb(80, 80, 80);
    flex-wrap: wrap;
  }

  .chains {
    border-bottom: none !important;
  }

  .filters {
    margin-top: 50px;
    border-bottom: 1px solid rgb(80, 80, 80);
  }
}

@media only screen and (max-width: 930px){

  .tableHeader {
    grid-template-columns: 50px 230px 100px 95px 85px 70px 75px 100px;
  }

  .row{
    grid-template-columns: 50px 230px 100px 95px 85px 70px 75px 100px;
  }

  
  .tableHeader div{
    font-size: 1rem;
  }

  .row div {
    font-size: 1rem;
  }
}

.mobileInfo {
  display: none;
}

@media only screen and (max-width: 820px){
  .row{
    grid-template-columns: 1fr;
    width: 95%;
    margin: 0 15px;
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 10px;
  }

  .row div:nth-child(2){
    margin-left: 0px;
  }

  .row .name img {
    display: block;
    width: 35px;
    height: 35px;
    margin-left: 5px;
  }

  .tableHeader{
    display: none;
  }

  .mobileInfo{
    display: inline-block;
    color: var(--lightest);
  }

  .mobileLine {
    width: 95%;
    height: 1px;
    margin: 15px auto;
    background-color: rgb(153, 153, 153);
  }

  .row:hover{
    transform: none;
  }

  .row div:nth-child(1){
    margin-left: 0px;
  }

  .row div:nth-child(3) {
    margin-left: 0px;
    display: flex;
    margin-top: -15px;
    align-items: center;
    margin-bottom: -15px;
  }

  .row div:nth-child(4) {
    margin-left: 0px;
    display: flex;
    align-items: center;
    position: relative;
    top: 7px;
  }

  .row div:nth-child(4) img{
    margin-left: 2px;
  }

  .row div:nth-child(2){
    margin-top: -7px;
  }

  .website a svg {
    margin-top: 5px;
  }

  .twitterNumbers a svg {
    margin-top: 5px;
    margin-left: 3px;
  }

  .discordNumbers a img {
    margin-left: 0px;
  }

  .row div:nth-child(5){
    margin-left: 0px;
    margin-top: 14px;
    display: flex;
    align-items: center;
  }

  .row div:nth-child(6){
    margin-left: 0px;
    margin-top: 0px;
  }

  .row div:nth-child(7){
    margin-left: 0px;
    margin-top: -5px;
  }

  .row div:nth-child(8){
    margin-left: 0px;
    margin-top: -15px;
  }

}

@media only screen and (max-width: 590px){
  .bannerWrapper {
    padding: 50px 0px;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  .bannerWrapper div{
    width: fit-content;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 530px){
  .popUp {
    width: 95%;
  }

  .projectName{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
  }

  .popUpIcons{
    margin-top: -30px;
    display: flex;
    align-items: center;
    margin-left: -5px;
  }

  .projectName a img{
    width: 50px;
    height: 50px;
    margin-top: 0px;
  }
  
  .projectName a svg {
    margin-top: 0px;
  }

  .navbar{
    padding-left: 5px;
  }

  .break {
    display: block;
  }

  .heroTitle {
    font-size: 1.9rem;
    text-align: flex-start;
  }

  .breakDesktop{
    display: none;
  }
}

@media only screen and (max-width: 435px){
  .topPart {
    display: flex;
    flex-direction: column;
  }

  .topPart button{
    margin-top: 10px;
  }

  .row{
    width: 92%;
  }
}

@media only screen and (max-width: 350px) {
  .changeTable button{
    font-size: 0.95rem;
  }

}